{% render "partials/head.liquid" %}

<h1>Lessons</h1>

<h2>Recommended Stories</h2>

<h2>Your playlists</h2>
<ul>
  {% for playlist in yourPlaylists %}
    {% render "partials/playlist-card.liquid"
      , playlist: playlist %}
  {% endfor %}
</ul>

<h2>All stories</h2>
<ul>
  {% for story in stories %}
    {% render "partials/story-card.liquid"
      , story: story %}
  {% endfor %}
</ul>

<h2>Liked playlists</h2>
<ul>
  {% for playlist in likedPlaylists %}
    {% render "partials/playlist-card.liquid"
      , playlist: playlist %}
  {% endfor %}
</ul>

<h2>Suggested playlists</h2>
<ul>
  {% for playlist in suggestedPlaylists %}
    {% render "partials/playlist-card.liquid"
      , playlist: playlist %}
  {% endfor %}
</ul>

{% render "partials/foot.liquid" %}