* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #471871;
    background: linear-gradient(in hsl to bottom, #471871, #142151);
    background: var(--background-method);

    font-family: var(--font-primary);
    color: white;
}

main {
    max-width: 500px;
    margin: 1rem auto;
    padding-left: 1rem;
}

button {
    appearance: none;
    border: none;
    padding: .5em;
    border-radius: var(--border-radius);
}

/* Headings */
h1 {
    width: max-content;
    margin: 1rem auto;
}

h2 {
    margin: 1rem 0;
}

h3 {
    font-size: var(--font-size-m);
}

/* Progress bar */
ol.progress {
    margin: auto;
    width: 20rem;
    max-width: 90dvw;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    overflow-x: scroll;
    scrollbar-width: none;
    margin-bottom: 2rem;
    scroll-snap-type: x mandatory;

    li {
        width: 100%;
        flex-shrink: 0;
        border-radius: 8px;
        list-style-position: inside;
        background-color: green;
        padding: .5rem 1rem;
        scroll-snap-align: start;
    }
}

/* Lessons page: story options (language selector, show all) */
.story-options {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: .5rem;
    padding: .5rem 0;
    min-width: 100%;
    list-style: none;

    li:has(a) {
        margin-left: auto;
    }

    a {
        color: white;
        text-decoration: none;
        font-weight: var(--font-weight-bold);
    }

    button {
        color: black;
        background-color: white;
    }
}

/* Searchbox on stories overview page */
.searchbox {
    display: grid;
    grid-template-columns: 1fr min-content;

    label {
        height: 2em;
        display: grid;
        grid-row: 1 / 2;
        grid-column: 1 / 3;
    }

    input {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        appearance: none;
        border: none;
        border-radius: var(--border-radius);
        background-color: white;
        color: black;
        padding: .8em;
        align-self: center;
    }

    span {
        grid-row: 1 / 2;
        grid-column: 1 / 2;

        color: rgba(0, 0, 0, 0.6);
        transition: all .25s;
        margin-left: .5em;
        align-self: center;
    }

    input:focus+span,
    input:not(:placeholder-shown)+span {
        color: rgba(0, 0, 0, 0);
    }

    button {
        grid-row: 1 / 2;
        grid-column: 2 / 3;

        background-color: transparent;
        border-radius: 0;
        padding: .5em;
        border-left: 1px solid rgba(0, 0, 0, 0.6);

        &:hover {
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.25);
        }

        >img {
            height: 1.5em;
        }
    }
}


/* Lists */
.list-horizontal,
.list-vertical,
.list-grid {
    list-style: none;
    gap: 1em;
    scrollbar-width: none;

    ::-webkit-scrollbar {
        display: none;
    }

    li {
        background-color: white;
        color: black;
        border-radius: var(--border-radius);
    }

    li img,
    li picture {
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: var(--border-radius);
    }

    li h3 {
        height: 2lh;
        text-wrap: balance;
        align-content: space-evenly;
        overflow: hidden;
        white-space: wrap;
        text-overflow: ellipsis;
    }

    li form {
        width: fit-content;
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        justify-self: end;
        display: flex;
        align-items: center;
    }

    li form button {
        background-color: transparent;
        padding: 0;
        height: 2.5rem;
        width: 2.5rem;

        svg {
            height: 100%;
            width: 100%;
            aspect-ratio: 1 / 1;
        }
    }
}

/* Horizontally scrolling lists with vertically-oriented cards */
.list-horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: scroll;

    li {
        height: 18rem;
        width: 11rem;
        padding: 1rem;
    }

    li img,
    li picture {
        height: 9rem;
        max-height: 9rem;
        width: 9rem;
    }
}

/* Vertically scrolling list with horizontally-oriented cards */
.list-vertical {
    margin-top: 1.5em;
    align-items: center;

    li {
        width: 100%;
        max-width: 90vw;
        height: 6rem;
        padding: .5rem;

        display: grid;
        grid-template-columns: 5rem 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: .5rem;
        margin: .5em 0;

        h3 {
            font-size: 1rem;
            align-self: flex-end;
        }

        >img {
            padding: .25em;
            grid-row: 1 / -1;
            grid-column: 1 / 2;
            height: 5rem;
            width: 5rem;
        }

        p.playtime {
            display: inline-block;
        }
    }
}

/* A grid-style list with horizontally-oriented cards */
.list-grid {
    display: grid;
    grid-area: scroll;
    grid-template-rows: repeat(3, max-content);
    grid-auto-columns: max-content;
    grid-auto-flow: column;

    overflow-y: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding-left: 1rem;
    gap: .5rem;

    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }

    li {
        min-width: 16rem;
        width: 22rem;
        max-width: 90vw;
        height: 6rem;
        padding: .5rem;

        display: grid;
        grid-template-columns: 5rem 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: .5rem;

        scroll-snap-align: start;
    }

    li picture {
        grid-row: 1 / -1;
        grid-column: 1 / 2;
        height: 5rem;
        width: 5rem;
        object-fit: cover;
    }
}

.scroll-container {
    display: grid;
    grid-template-areas:
        "scroll scroll scroll"
        "left markers right";
    grid-template-columns: auto 1fr auto;
}

@supports (scroll-marker-group: after) {
    .list-grid {
        &::scroll-button(left),
        &::scroll-button(right) {
            padding: 0.5em 1em;
            appearance: none;
            border: none;
            background-color: #9264F4;
            color: white;
            border-radius: var(--border-radius);
            font-weight: var(--font-weight-bold);
            font-size: var(--font-size-l);
            margin: .5rem 0;
        }
    
        &::scroll-button(left) {
            content: "<" / "Scroll Left";
            grid-area: left;
        }
    
        &::scroll-button(right) {
            content: ">" / "Scroll Right";
            grid-area: right;
        }
    
        &::scroll-button(*)::focus-visible {
            outline-offset: 5px;
        }
    }

    .list-grid {
        scroll-marker-group: after;

        &::scroll-marker-group {
            grid-area: markers;
            display: grid;
            place-content: safe center;
            grid: 30px / auto-flow 30px;
            gap: 15px;
            padding: 15px;
            scroll-padding: 15px;

            overflow: auto;
            overscroll-behavior-x: contain;
            scrollbar-width: none;
            scroll-snap-type: x mandatory;

            @media (prefers-reduced-motion: no-preference) {
                scroll-behavior: smooth;
            }
        }

        li:nth-child(3n + 1) {
            &::scroll-marker {
                content: " ";
                border: 1px solid white;
                border-radius: 50%;
                outline-offset: 4px;
                -webkit-tap-highlight-color: transparent;
                scroll-snap-align: center;
            }

            &::scroll-marker:is(:hover, :focus-visible) {
                border-color: #9264F4;
            }

            &::scroll-marker:target-current {
                background: #9264F4;
                border-color: #9264F4;
            }
        }
    }
}

/* "Add your own playlist" card */
.list-horizontal .add-playlist {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);

    img {
        rotate: 45deg;
        filter: invert(1);
    }

    h3 {
        height: 1lh;
    }
}

/* Story navigation list of links */
.nav-stories {
    display: inline-flex;
    list-style: none;
    gap: .5em;

    a {
        color: white;
    }
}

/* Loading state */
.loading {
    opacity: 0.5;
}