/* FONTS */
@font-face {
    font-family: "Poppins";
    font-weight: normal;
    src: url("../assets/Poppins-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins";
    font-weight: bold;
    src: url("../assets/Poppins-Bold.ttf") format("truetype");
}

/* COLORS */
:root {
    /* Kleuren per scherm */
    --background-method: linear-gradient(in hsl to bottom, #471871, #142151);
    --background-statistics: linear-gradient(in hsl to bottom, #219B9B, #1B7070);
    --background-testing: linear-gradient(in hsl to bottom, #21599B, #1B3D70);
    --background-profile: linear-gradient(in hsl to bottom, #F0775D, #B45751);

    /* Methode kleuren */
    --background-home: linear-gradient(in hsl to bottom, #3F93B7, #1C5872);
    --background-story-night: linear-gradient(in hsl to bottom, #040404, #471871);
}

body {
    --border-radius: 0.5rem;

    /* Typography */
    --font-primary: 'Poppins', sans-serif;
    
    --font-size-xl: 2rem;
    --font-size-l: 1.5rem;
    --font-size-m: 1rem;
    
    --font-weight-bold: 700;
    --font-weight-normal: 500;
    --font-weight-light: 300;
}